<app-navbar></app-navbar>
<div class="container-fluid" style="padding-top: 70px; padding-bottom: 93px">
  <h1 class="text-center">WishList</h1>
  <div class="row" style="margin-left: 15px">
    <div class="col-sm-3 product" *ngFor="let temp of products">
      <div class="product-tumb">
        <img [src]="temp.product.imageUrl" alt="" />
      </div>
      <div class="product-details">
        <h4>
          <a>{{ temp.product.productName }}</a>
        </h4>

        <div class="product-bottom-details">
          <div class="product-price">
            PRICE :&#x20B9;{{ temp.product.price }}
          </div>
        </div>
      </div>
      <div class="text-center" style="display: flex; justify-content: center">
        <button
          type="button"
          class="btn btn-primary"
          (click)="toCart(temp.product.productid)"
          style="margin-right: 10px; margin-top: 10px; margin-bottom: 10px"
        >
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="removeItem(temp.wishItemid)"
          data-toggle="modal"
          data-target="myModal"
          style="margin-top: 10px; margin-bottom: 10px"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="products == null"
    style="padding-bottom: 20px; padding-top: 40px"
    class="container"
  >
    <div class="card empty">
      <div class="row align-self-center">
        <div class="center">
          <img
            src="https://media.istockphoto.com/photos/happy-smiling-pug-puppy-dog-holding-up-wire-metal-shopping-basket-picture-id1126251896?k=20&m=1126251896&s=612x612&w=0&h=FWvYTuVbDKbUWgdw0Ly9JKnUjX0UB8j_tpUYg4bmqns="
            alt=""
          />
        </div>
      </div>
      <div class="row align-self-center">
        <h3 class="text-center" style="margin-top: 10px">
          No Products Found WishList
        </h3>
        <div style="width: 100%; display: flex; justify-content: center">
          <button routerLink="/home" class="btn btn-primary">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="products != null && products.length == 0"
    style="padding-bottom: 20px; padding-top: 40px"
    class="container"
  >
    <div class="card empty">
      <div class="row align-self-center">
        <div class="center">
          <img
            src="https://media.istockphoto.com/photos/happy-smiling-pug-puppy-dog-holding-up-wire-metal-shopping-basket-picture-id1126251896?k=20&m=1126251896&s=612x612&w=0&h=FWvYTuVbDKbUWgdw0Ly9JKnUjX0UB8j_tpUYg4bmqns="
            alt=""
          />
        </div>
      </div>
      <div class="row align-self-center">
        <h3 class="text-center" style="margin-top: 10px">
          No Products Found WishList
        </h3>
        <div style="width: 100%; display: flex; justify-content: center">
          <button routerLink="/home" class="btn btn-primary">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
