* {
  font-family: Simonetta;
}
h2 {
  font-family: Simonetta;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  color: #000000;
}
.form-control {
  border-radius: 15px;
}
.login {
  display: flex;
  flex-wrap: wrap;
}
.login-side {
  flex: 1 1 200px;
  height: 50px;
}
.form-group {
  width: 500px;
}
.login-child {
  display: flex;
  justify-content: center;
}
